/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* ---- typography ---- */

body {
  color: rgb(50, 50, 50);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  margin: 0;
}

h2 {
  text-align: center;
  padding-bottom: 5px; 
  border-bottom: 2px solid rgb(225, 62, 51);
}

h3 {}

p {
  margin: 0;
}

/* ---- layout ---- */

#site-header {
  padding: 30px 0 27px;
  color: rgb(50, 50, 50);
  background: rgb(254, 254, 254);
  text-align: center;
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 5px #d7d7d7;
  top: 0;
}

#site-header h1 {
  text-transform: uppercase;
  color: rgb(225, 62, 51);
}

#site-footer {
  color: white;
  padding: 18px 0;
  text-align: center;
  background: rgb(225, 62, 51);
}

#site-main {
  margin-top: 150px;
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

nav {
  padding-top: 20px;
}

nav ul {
  margin: 0 auto;
  width: 20%;
  display: flex;
  justify-content: space-around;
}

nav li {
  display: inline;
  list-style: none;
}

nav a {
  color: rgb(50, 50, 50);
}

nav a:hover {
  color: rgb(225, 62, 51);
}

#students ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#students li {
  list-style: none;
  background-color: rgb(254, 254, 254);
  padding: 23px;
  box-shadow: 1px 0px 8px #d7d7d7;
  margin: 10px;
  width: 140px;
  height: 140px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
}

#students a {
  color:  rgb(43, 43, 43);
}

#students a:hover {
  border-bottom: 2px solid rgb(225, 62, 51);
}

#links {
  padding-top: 30px;
  text-align: center;
}

#links li {
  list-style: none;
  margin-bottom: 10px;
}

#links a {
  color: rgb(43, 43, 43);
}

#links a:hover {
  color: rgb(225, 62, 51);
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}
