/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-weight: normal;
  color: red;
  font-size: 1rem;
  text-transform: uppercase

}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */

section.testimonials {
  // ...
}

section.testimonials .button {
  margin-bottom: 10px;
}

.navigation-button a{
  text-decoration: none;
  display: block;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
}

.navigation-button {
  list-style: 
  
}