
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #2c3531;
  color: #D1E8E2;
}


/* ---- layout ---- */

nav.top-nav {
  width: 100%;
  position: fixed;
  background-color: #2c3531;
  color: #D1E8E2; #FFCB9A
  margin-top: 0;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #116466;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #D1E8E2;
  float: right;
  margin-block-start: 1em;
  margin-block-end: 0.83em;
  margin-right: 1rem;
  font-weight: bold;
}

nav h1 {
  position: relative;
  float: left;
  font-size: 1.1rem;
  margin-left: 1rem;
}

nav h2 {
  position: relative;
  float: left;
  font-size: 1.1rem;
  font-weight: normal;
  margin-left: 1rem;
  color: #D9B08C;
}

/* ---- components ---- */

header div {
  background-color: #2c3531;
}



/* ---- section ---- */

.first-section {
  width: 100%;
  margin-top: 0;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 5rem;
}

.first-section h1 {
  color: #D1E8E2;
  font-size: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.first-section h2 {
  color: #D9B08C;
  font-size: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.first-section ul li {
  list-style: none;
  display: inline-block;
  margin-top: 1.5rem;
  margin-right: 2rem;
}

.first-section ul li a:hover {
  text-decoration-line: line-through;
}

.first-section ul li a {
  text-decoration: none;
  font-size: 2rem;
}

.image-section {
  margin-right: 0;
  width: 100%;
}

.image-section img {
  max-width: 100%;
}

.second-section {
  margin-left: 4rem;
}

.third-section {
  margin-left: 4rem;
}

.third-section-div div{
  position: relative;
  float: left;
  margin-right: 2rem;
  box-shadow: 0px 0px 5px 0px #FFCB9A;
}

.fourth-section {
  margin-left: 4rem;
}

.fifth-section {
  margin-left: 4rem;
}

.clearfix {
  clear: both;
}