

body {
  margin: 0;
  padding: 0;
  /* background-color: powderblue; */
  font-family: 'Montserrat', sans-serif;
}

/* ---header--- */

header{
  background-color:#343434;
  color:white;
  text-align: center;
}

.top{
  padding-bottom: 20px;
}

header h1{
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  margin: 0;
  font-size: 2rem;
}

header p{
  text-transform: capitalize;
  font-size:1.5rem;
}

.profile-photo{
  width: 80%;
  max-width: 300px;
}

/* ---main--- */

.section-container{

  margin: 0 10%;
}

.exercise-img{
  width: 100%;
}

.about-me-section{

}

.exercises-section{

}

/* ---footer--- */

#comment{
  border: 1px solid gray;
  display: block;
  height:5rem;
  width: 50%;
  min-width: 250px;
  font-family:  'Montserrat', sans-serif;
}

footer{
  color:white;
  background-color: #343434;
}

.comment-footer{
  padding-top:10px;
}

.comment-footer h2{
  padding: 10px 0;
  margin: 0;
}

.submit-btn{
  background-color: gray;
  color:white;
  border: 1px solid gray;
  margin-top: 5px;
}

.bottom{
  padding-top: 4px;
  border-top: 1px solid;
  margin-top: 10px;
}


.follow-me{
  float: right;
}

.bottom-word{
  margin: 0;
  padding: 9px 5%;
}

.bottom-word p{
  margin:0px
  
}