

body {
  margin: 0;
  padding: 0;
  /* background-color: powderblue; */
  font-family: 'Montserrat', sans-serif;
  background-color: #343434;
}

.clearfix { clear: both;}

/* ---header--- */

header {
  color:white;
  text-align: center;
}

.menu-bar {
  border-bottom: 1px solid white;
}

.top {
  padding-bottom: 20px;
}

.title {
  float: left;
  padding: 10px;
}

.menu {
  margin: 0;
}

.menu-list {
  margin: 0;
}

.menu-list a {
  color: white;
  text-decoration: none;
  display: block;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  margin: 0;
  font-size: 2rem;
}

header p {
  text-transform: capitalize;
  font-size:1.5rem;
}

header li {
  display: inline;
  float: right;
  padding: 19.5px 10px;
}

.profile-photo {
  width: 80%;
  max-width: 300px;
}

/* ---main--- */

.section-container {
  margin: 0 10%;
  color: white;
}

.section-border {
  border-bottom: 1px solid white;
}

.exercise-img {
  width: 100%;
}

.about-me-section {
  
}

.exercises-section a {
  text-decoration: none;
  color:white;
}

.exercises-section ul {
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 10%;
  /* padding: 75px 0; */
}

.item {

}



.exercises-section li {
  list-style: none;
  text-align: center;
}

.exercises-section h2 {
  height: 100%;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 300px;
  border: 1px solid white;
}


/* ---footer--- */

#comment {
  border: 1px solid gray;
  display: block;
  height:5rem;
  width: 50%;
  min-width: 250px;
  font-family:  'Montserrat', sans-serif;
}

footer {
  color:white;
}

.comment-footer {
  padding-top:10px;
}

.comment-footer h2 {
  padding: 10px 0;
  margin: 0;
}

.submit-btn {
  background-color: gray;
  color:white;
  border: 1px solid gray;
  margin-top: 5px;
}

.bottom {
  padding-top: 4px;
  border-top: 1px solid;
  margin-top: 10px;
}


.follow-me {
  float: right;
}

.follow-me svg {
  fill: white;
}

.bottom-word {
  margin: 0;
  padding: 9px 5%;
}

.bottom-word p {
  margin:0px
  
}